<template>
  <div class="wrapper">
    <router-link
        class="button"
        to="/tool-tip">Go to Tooltip
    </router-link>
  </div>
</template>

<script>


export default {
  name: "LandingPage",
}
</script>

<style scoped>
.button {
  position:absolute;
  line-height: 36px;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
}

</style>
