.button{
    padding: 4px 16px;
    border-radius:4px;
    background: #1976d2;
    border:none;
    font-size:18px;
    color:white;
    height:36px;
    text-decoration: none;
    cursor: pointer;
}
