<template>
<!--  This component can be shortened further by storing all data in json file -->
      <div>
        <h2>Tooltip</h2>
        <button class="button" v-for="item in basicToolTips" :key="item.value">
          {{ item.value }}
          <app-tool-tip
            :position="item.tooltip.position">
              {{ item.tooltip.value }}
          </app-tool-tip>
        </button>
        <h2>Tooltips with offset</h2>
        <button
            class="button"
            v-for="item in offsetToolTips"
            :key="item.value">
          {{ item.value }}
          <app-tool-tip :offset="item.tooltip.offset">{{ item.tooltip.value }}</app-tool-tip>
        </button>
        <h2>Tooltips with max width</h2>
        <button
            class="button"
            v-for="item in maxWidthToolTips"
            :key="item.value">
          {{ item.value }}
          <app-tool-tip
              :max-width="item.tooltip.maxWidth"
              :position="item.tooltip.position">
            {{ item.tooltip.value }}
          </app-tool-tip>
        </button>
        <h2>Handling big texts</h2>
        <button
            class="button"
            v-for="item in bigTextToolTips"
            :key="item.value">
          {{ item.value }}
          <app-tool-tip
              :position="item.tooltip.position">
            <template v-for="v in 10">{{v + item.tooltip.value}}</template>
          </app-tool-tip>
        </button>
        <h2>Handling different HTML Elements</h2>
        <div style="background: lightblue">  `div` element with lightblue background
        <app-tool-tip>div tooltip text</app-tool-tip></div>
        <p style="background: lightcoral">  `p` element with lightcoral background
        <app-tool-tip>p tooltip text</app-tool-tip></p>
        <span style="background: lightgoldenrodyellow">  `span` element with lightgoldenrodyellow background
          <app-tool-tip>span tooltip text</app-tool-tip></span>
        <h2>Handling large HTML Elements</h2>
        <div class="row">
          <div class="col" :key="item.value" v-for="item in largeHtmlTooltips"
               style="background: lightblue;"> {{ item.value }}
            <app-tool-tip :position="item.tooltip.position">{{ item.tooltip.value }}</app-tool-tip></div>
        </div>
      </div>
</template>

<script>
import AppToolTip from "@/components/tooltip/ToolTip";
  export default {
    name: "ToolTipPlayground",
    components:{
      AppToolTip
    },
    data(){
      return{
        basicToolTips:[
          {value:'Hover', tooltip: { position:'left', value: 'Tooltip position left' }},
          {value:'over', tooltip: { position:'top', value:'Tooltip position top' }},
          {value:'these', tooltip: { position:'bottom', value: 'Tooltip position bottom' }},
          {value:'buttons', tooltip: { position:'right', value: 'Tooltip position right' }}
        ],
        maxWidthToolTips:[
          {value:'Max width 40px', tooltip: { maxWidth:'40px', position:'left', value: 'max-width 40px' }},
          {value:'Max width 60px', tooltip: { maxWidth:'60px', position:'top', value: 'max-width 60px' }},
          {value:'Max width 80px', tooltip: { maxWidth:'80px', position:'bottom', value: 'max-width 80px' }},
          {value:'Max width 100px', tooltip: { maxWidth:'100px', position:'right', value: 'max-width 100px' }},
        ],
        offsetToolTips:[
          {value:'5px gap', tooltip: {  offset:[5,5], value: '5px distance from all edges' }},
          {value:'10px gap', tooltip: { offset:[10,10], value:'10px distance from all edges' }},
          {value:'20px gap', tooltip: { offset:[20,20], value: '20px distance from all edges' }},
          {value:'30px gap', tooltip: { offset:[30,30], value: '30px distance from all edges' }}
        ],
        bigTextToolTips:[
          {value:'Left tooltip', tooltip:{ value:'. Much space on right ', position:'left'}},
          {value:'Top tooltip', tooltip:{ value:'. Tooltip text loop ', position:'top'}},
          {value:'Right tooltip', tooltip:{ value:'. Tooltip text loop ', position:'right'}},
          {value:'Bottom tooltip', tooltip:{ value:'. Tooltip text loop ', position:'bottom'}}
        ],
        largeHtmlTooltips:[
          { value: 'div element Left tooltip', tooltip :{ value:'Left positioned', position:'left'}},
          { value: 'div element Top tooltip', tooltip :{ value:'Top positioned', position:'top'}},
          { value: 'div element Bottom tooltip', tooltip :{ value:'Bottom positioned', position:'bottom'}},
          { value: 'div element Right tooltip', tooltip :{ value:'Right positioned', position:'right'}}
        ]
      }
    }
  }
</script>
<style scoped>
.button{
  margin: 10px 15px;
}
.row{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
}
.col {
  margin: 10px 10px;
  height: 250px;
  border-radius: 7px;
  background: #fafafa;
  text-align: center;
  justify-content: center;
  max-width: 250px;
  min-width:200px;
  display: flex;
  flex-direction: column
}
</style>


