<template functional>
  <header id="main-header">
    <div class="logo-holder">
      <router-link to="/">
        <img height="20" src="@/assets/logo.png"/>
      </router-link>

    </div>
  </header>
</template>
<style scoped>
@import "appHeader.css";
</style>
