#main-header {
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    width: 100%;
    box-shadow: 0 1px 2px rgba(0,0,0,0.16), 0 1px 2px rgba(0,0,0,0.23);
    position: fixed;
    top: 0;
    left:0;
    z-index: 8;
}
.logo-holder { width: 64px; }
.logo-holder > img{
    height:20px;
}
