<template>
<div>
<!--  top nav bar-->
  <app-header></app-header>

<!-- page container injected -->
  <div>
    <div class="threshold">
      <div class="container">
        <router-view/>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import AppHeader from "@/components/header/AppHeader";
export default {
  name: "LandingLayout",
  components: {AppHeader},
}
</script>
<style scoped>
@import "landinglayout.css";
@import "../../css/common/button.css";
</style>
