<template>
  <transition name="fade">
    <div v-if="visibility" :style="{'max-width':maxWidth}" class="base-tooltip" >
      <slot></slot>
    </div>
  </transition>

</template>

<script>
import {getElementProps, getScrollbarWidth, getTargetOffset} from "@/utils/position-system";
import {css} from "@/utils/dom";

// we can add transitions as a prop
// for now I have added a basic one
export default {
  name: "ToolTip",
  props:{
    position: {
      type: String,
      default: 'bottom'
    },
    maxWidth: {
      type: String,
      default: null
    },
    offset: {
      type: Array,
      default: () => [14, 14]
    },
  },
  data(){
    return{
      parentEl: null,
      visibility:false,
      parentOrigin:{},
      targetOrigin:{}
    }
  },
  mounted(){
    this.parentEl = this.$el.parentNode;
    this.parentEl.addEventListener('mouseenter', this.setPosition);
    this.parentEl.addEventListener('mouseleave', () => { this.visibility=false });
  },
  methods: {
    setPosition() {
      this.visibility=true;
      this.$nextTick(()=>{
        this.markBoundaries();
        this.fixBoundaries();
      })
    },
    markBoundaries(){
      // this section can be cleaned
      // further there is a pattern
      // in parent origin and target origin
      if(this.position === 'top'){
        this.$set(this.parentOrigin, 'vertical','top');
        this.$set(this.parentOrigin, 'horizontal', 'middle');
        this.$set(this.targetOrigin, 'vertical', 'bottom');
        this.$set(this.targetOrigin, 'horizontal', 'middle')
      }
      else if(this.position === 'left'){
        this.$set(this.parentOrigin, 'vertical','center');
        this.$set(this.parentOrigin, 'horizontal', 'left');
        this.$set(this.targetOrigin, 'vertical', 'center');
        this.$set(this.targetOrigin, 'horizontal', 'right')
      }
      else if(this.position === 'right'){
        this.$set(this.parentOrigin, 'vertical','center');
        this.$set(this.parentOrigin, 'horizontal', 'right');
        this.$set(this.targetOrigin, 'vertical', 'center');
        this.$set(this.targetOrigin, 'horizontal', 'left')
      }
      else{
        this.$set(this.parentOrigin, 'vertical','bottom');
        this.$set(this.parentOrigin, 'horizontal', 'middle');
        this.$set(this.targetOrigin, 'vertical', 'top');
        this.$set(this.targetOrigin, 'horizontal', 'middle')
      }
    },
    fixBoundaries() {
      let parentElProps = getElementProps(this.parentEl, this.offset);
      let targetElProps = getTargetOffset(this.$el);
      let elStyle = {
        maxWidth: this.maxWidth,
      }
      css(this.$el, {
        'max-width':this.maxWidth
      })
      // finding the actual top and left part
      // from where the tooltip should start
      const props = {
        top: parentElProps[this.parentOrigin.vertical] - targetElProps[this.targetOrigin.vertical],
        left: parentElProps[this.parentOrigin.horizontal] - targetElProps[this.targetOrigin.horizontal]
      }
      const currentHeight = targetElProps.bottom,
          currentWidth = targetElProps.right,
          margin = getScrollbarWidth(),
          innerHeight = window.innerHeight - margin,
          innerWidth = document.body.clientWidth
      //handling edge cases vertically
      if (props.top < 0 || props.top + currentHeight > innerHeight) {
        if (this.targetOrigin.vertical === 'center') {
          props.top = parentElProps[this.parentOrigin.vertical] > innerHeight / 2
              ? Math.max(0, innerHeight - currentHeight)
              : 0
          props.maxHeight = Math.min(currentHeight, innerHeight)
        }
        else if (parentElProps[this.parentOrigin.vertical] > innerHeight / 2) {
          const anchorY = Math.min(
              innerHeight,
              this.parentOrigin.vertical === 'center'
                  ? parentElProps.center
                  : (this.parentOrigin.vertical === this.targetOrigin.vertical ?
                  this.parentOrigin.bottom : parentElProps.top)
          )
          props.maxHeight = Math.min(currentHeight, anchorY)
          props.top = Math.max(0, anchorY - currentHeight)
        }
        else {
          props.top = Math.max(0, this.parentOrigin.vertical === 'center'
              ? parentElProps.center
              : (this.parentOrigin.vertical === this.targetOrigin.vertical ? parentElProps.top : parentElProps.bottom)
          )
          props.maxHeight = Math.min(currentHeight, innerHeight - props.top)
        }
      }
      // handling edge cases horizontally
      if (props.left < 0 || props.left + currentWidth > innerWidth) {
        props.maxWidth = Math.min(currentWidth, innerWidth)
        if (this.targetOrigin.horizontal === 'middle') {
          console.log('parent middle ',parentElProps[this.parentOrigin.horizontal]);
          props.left = parentElProps[this.parentOrigin.horizontal] > innerWidth / 2
              ? Math.max(0, innerWidth - currentWidth)
              : 0
        } else if (parentElProps[this.parentOrigin.horizontal] > innerWidth / 2) {
          const anchorX = Math.min(
              innerWidth,
              this.parentOrigin.horizontal === 'middle'
                  ? parentElProps.middle
                  : (this.parentOrigin.horizontal === this.targetOrigin.horizontal ? parentElProps.right : parentElProps.left)
          )
          props.maxWidth = Math.min(currentWidth, anchorX)
          props.left = Math.max(0, anchorX - props.maxWidth)
        } else {
          props.left = Math.max(0, this.parentOrigin.horizontal === 'middle'
              ? parentElProps.middle
              : (this.parentOrigin.horizontal === this.targetOrigin.horizontal ? parentElProps.left : parentElProps.right)
          )
          props.maxWidth = Math.min(currentWidth, innerWidth - props.left)
        }
      }
       elStyle = {
        top: props.top + 'px',
        left: props.left + 'px'
      }

      if (props.maxWidth !== void 0) {
        elStyle.maxWidth = props.maxWidth + 'px'

        if (parentElProps.width > props.maxWidth) {
          elStyle.minWidth = elStyle.maxWidth
        }
      }
      Object.assign(this.$el.style, elStyle)
    }
  },
  beforeDestroy() {
    this.parentEl.removeEventListener('mouseenter', this.setPosition);
    this.parentEl.removeEventListener('mouseleave', () => { this.visibility=false });
  }
}
</script>

<style scoped>
@import "toolTip.css";
</style>
