.base-tooltip {
    font-size: 14px;
    /*text-transform: none;*/
    font-weight: normal;
    z-index: 9999;
    position: fixed !important;
    overflow-y: auto;
    background: #555;
    padding: 6px 16px;
    border-radius: 6px;
    color:white;
    overflow-x: hidden;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}
